.panel {
    background-color: #0e1216d8;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    overflow: hidden;
    width: 350px;
    max-width: 80vw;
    max-height: 80vh;
    color: #eee;
    padding-bottom: min(120px, 10vh);
    font-size: 20px;
    border-radius: 4px;
}

.pfp {
    aspect-ratio: 1 !important;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all linear;
}

@keyframes fade {
    0% {
        opacity: 90%;
    }
    50% {
        opacity: 55%;
    }
    100% {
        opacity: 90%;
    }
}

.pfp[data-loading='true'] {
    animation: fade 3s linear infinite;
}

.pfpDiv {
    margin-top: min(120px, 10vh);
    display: flex;
    justify-content: center;
}

.statusPanel {
    margin-top: min(120px, 10vh);
    display: flex;
    justify-content: center;
    text-align: center;
}

.peerName {
    font-weight: bold;
}

.pfpContainer {
    position: relative;
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    max-height: min(35vw, 35vh);
    max-width: min(35vw, 35vh);
}

@keyframes rotate-loading {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1.05);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) scale(1.05);
    }
}

.spin {
    position: absolute;
    width: 100%;
    height: 100%;
    border: transparent 8px solid;
    border-color: transparent #9ac2e370 transparent #9ac2e370;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    animation: rotate-loading 30s linear infinite, fade 3s linear infinite;
}

.error {
    color: rgb(255, 58, 58);
    font-weight: bold;
    text-transform: uppercase;
}

.progress {
    position: absolute;
    width: 120%;
    height: 120%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.progress[data-done='false'] {
    animation: fade 1.5s linear infinite;
}

.progress circle {
    transition: stroke-dasharray 0.5s linear, stroke-dashoffset 0.5s linear;
}
